PUID={{ service_user_id }}
PGID={{ service_user_group_id }}
TZ={{ vpn_timezone }}
PIA_USERNAME={{ vpn_username | mandatory }}
PIA_PASSWORD={{ vpn_password | mandatory }}
PIA_PROTOCOL={{ vpn_protocol }}
PIA_PORT_FORWARD={{ vpn_port_forward }}
PIA_REGION={{ vpn_region }}
PIA_DEBUG_LOGGING={{ vpn_debug_logging }}
