PUID={{ service_user_id }}
PGID={{ service_user_group_id }}
TZ={{ vpn_timezone }}
PIA_USERNAME={{ pia_username | mandatory }}
PIA_PASSWORD={{ pia_password | mandatory }}
PIA_PROTOCOL=wireguard
PIA_PORT_FORWARD=false
PIA_REGION=auto
PIA_DEBUG_LOGGING=false
